/* georgia-700-italic - latin */
@font-face {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 700;
    src: local("Georgia Bold Italic"), local("Georgia-Bold-Italic"), 
        url('../../assets/fonts/georgia/georgia-bold-italic.ttf') format('ttf'); 
  }  

/* georgia-700 - latin */
@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    src: local("Georgia Bold"), local("Georgia-Bold"),
         url('../../assets/fonts/georgia/georgia-bold.ttf') format('ttf'); 
  }

/* georgia-regular-italic - latin */
@font-face {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    src: local("c Italic"), local("Georgia-Italic"), 
        url('../../assets/fonts/georgia/georgia-italic.ttf') format('ttf'); 
  }

/* georgia-regular - latin */
@font-face {
    font-family: 'georgia';
    font-style: normal;
    font-weight: 400;
    src: local("georgia Regular"), local("georgia-Regular"),
         url('../../assets/fonts/georgia/georgia-regular.ttf') format('ttf'); 
  }

/* arial-900 - latin */
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    src: local("Arial Black"), local("Arial-Black"),
         url('../../assets/fonts/arial/arial-black.ttf') format('ttf'); 
  }

/* arial-700-italic - latin */
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 700;
    src: local("Arial Bold Italic"), local("Arial-Bold-Italic"), 
        url('../../assets/fonts/arial/arial-bold-italic.ttf') format('ttf'); 
  }  

/* arial-700 - latin */
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    src: local("Arial Bold"), local("Arial-Bold"),
         url('../../assets/fonts/arial/arial-bold.ttf') format('ttf'); 
  }

/* arial-italic - latin */
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    src: local("Arial Italic"), local("Arial-Italic"), 
        url('../../assets/fonts/arial/arial-italic.ttf') format('ttf'); 
  }

/* arial-regular - latin */
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: local("Arial Regular"), local("Arial-Regular"),
         url('../../assets/fonts/arial/arial-regular.ttf') format('ttf'); 
  }

/* inter-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local("Inter Regular"), local("Inter-Regular"),
         url('../../assets/fonts/inter-v13-latin/inter-v13-latin-regular.woff2') format('woff2'); 
  }